:root {
    --bg-main-black: #000;
    --text-main-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.indent {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


body {
    min-height: 100vh;
    color: var(--text-main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 65px min(calc(100vh - 65px - 95px)) 95px;
    grid-template-columns: 100vw 100vw 100vw;
    grid-auto-flow: column;
}


header {
    height: 100%;
    background-color: var(--bg-main-black);
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.nav-part2 {
    flex-direction: row;
}

.nav-part2 > div {
    padding: 0 10px;
}

.nav-part2 a {
    color: var(--text-main-color);
}


.content-container {
    height: 100%;
}

.hero {
    width: 100vw;
    background-color: #a8ac27;
    color: var(--text-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;

}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-btn {
    background: white;
    color: #1d4ed8;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.hero-btn:hover {
    background: #f3f4f6;
}

#service {

}

footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main-black);
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {}
